.toolbar-lang-select {
  padding: 2px 20px 3px 10px !important;
  color: black !important;
  font-weight: bolder;
  margin-top: 6px;
}

.toolbar-lang-select-admin {
  padding: 2px 20px 3px 10px !important;
  color: black !important;
  font-weight: bolder;
}

.atls-toolbar-tab-right {
  float: right !important;
}
